.english-in-trucking-course-flex {
    display: flex;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    height: 100vh;
}

.english-in-trucking-course-link {
    width: 25%;
    border-right: 1px solid #ccc;
    padding-right: 20px;
    margin-right: 20px;
}

.section-image {
    border-radius: 10px;
    width: 300px;
}

.english-in-trucking-course-details {
    flex-grow: 1;
    width: 75%;
}

.section-header {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.section-header-text {
    font-size: 24px;
    margin-bottom: 20px;
    display: inline-block;
}

.section-content {
    display: flex;
    flex-direction: column;
}

.section-content-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.section-content-flex h1,
.section-content-flex p,
.section-content-flex video {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin: 10px 0;
}

.section-content-flex p {
    word-wrap: break-word;
}

.video {
    width: 100%;
    max-width: 700px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.text1,
.text2 {
    margin: 20px 0;
    width: 100%;
    max-width: 700px;
}

.sub-links {
    padding-left: 20px;
}


.lesson-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    white-space: normal;
    color: black;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    width: 500px;
    word-wrap: break-word;
}

.lesson-item.active {
    background-color: #f0f0f0;
    border-color: #888;
}

.english-in-trucking-link {
    text-decoration: none;
}

.active-lesson .lesson-item {
    background-color: #21fd58;
}

.video {
    width: 700px;
    border-radius: 20px;
}

.text1 {
    margin-bottom: 50px;
    width: 700px;
}

.text2 {
    margin-top: 50px;
    width: 700px;
}

.link-content {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    cursor: pointer;
}


@media screen and (max-width: 2100px) {
    .lesson-item {
        width: 400px;
    }
}

@media screen and (max-width: 1700px) {
    .lesson-item {
        width: 300px;
    }
}

@media screen and (max-width: 1300px) {
    .lesson-item {
        width: 200px;
        font-size: 12px;
    }

    .section-header-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .section-header-text {
        font-size: 20px;
    }

    .text1,
    .text2 {
        max-width: 90%;
    }

    .video {
        max-width: 90%;
    }

    .section-content-flex>h1 {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 800px) {
    .section-header-text {
        font-size: 18px;
    }

}


@media screen and (max-width: 720px) {
    .section-header-text {
        font-size: 16px;
    }


    .section-content-flex h1 {
        padding-left: 20px;
        font-size: 1.2em;
    }
}



@media screen and (max-width: 600px) {
    .section-header-text {
        font-size: 14px;
    }

    .section-content-flex h1 {
        font-size: 1em;
    }

    .section-content-flex p {
        font-size: 0.8em;
    }

    .section-content-flex {
        max-width: 900px;
        padding: 0;
    }

    .text1 p {
        margin: 0;
        padding: 0;
    }

    .text1 {
        margin-bottom: 10px;
    }

    .video {
        margin: 0;
    }
}


@media screen and (max-width: 570px) {
    .section-header-text {
        font-size: 14px;
    }

    .english-in-trucking-course-link {
        width: 35%;
    }

    .section-content-flex h1 {
        font-size: 0.8em;
    }

    .english-in-trucking-course-details {
        width: 65%;
    }

    .lesson-item {
        font-size: 10px;
        width: 100%;
    }

    .section-content-flex {
        max-width: 800px;
    }

    .english-in-trucking-course-details {
        padding: 0;
    }

    .text1 p,
    .text2 p {
        font-size: 9px;
    }

    .text2 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 400px) {
    .section-header-text {
        font-size: 10px;
    }

    .lesson-item {
        font-size: 7px;
        padding: 4px;
    }

    .english-in-trucking-course-flex {
        padding: 0;
    }

    .section-header {
        margin: 10px 0;
    }


}