.english-in-trucking-course-flex {
    display: flex;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    height: 100vh;
}

.english-in-trucking-course-link {
    width: 20%;
    border-right: 1px solid #ccc;
    padding-right: 20px;
    margin-right: 20px;
}

.english-in-trucking-course-details {
    flex-grow: 1;
}

.section-header {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}

.section-header>div {
    font-size: 24px;
    margin-bottom: 20px;
}

.section-content {
    display: flex;
    flex-direction: column;
}

.section-content-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-links {
    padding-left: 20px;
}

.lesson-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    white-space: nowrap;
    color: black;
    display: inline-block;
    font-size: 18px;
}

.lesson-item.active {
    background-color: #f0f0f0;
    border-color: #888;
}

.english-in-trucking-link {
    text-decoration: none;
}

.active-lesson .lesson-item {
    background-color: #21fd58;
}

.video {
    width: 700px;
    border-radius: 20px;
}

.text1 {
    margin-bottom: 50px;
    width: 700px;
}

.text2 {
    margin-top: 50px;
    width: 700px;
}

.link-content {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    cursor: pointer;
}